
@{
    ViewBag.Title = "Index";
    ViewBag.NavbarColorClass = "navbar-dark bg-success";
}

<div id="form">
    <h2 style="padding-top:30px">Mazharul Uloom College</h2>

    <h6>Affiliated to Thiruvalluvar University</h6>

    <p>Ambur, Tirupattur District , TamilNadu , India </p>


    <div class="d-flex" style="gap:14%">
        <div class="card text-white bg-primary mb-3" style="width: 22rem;">
            <div class="card-header">Shift - I</div>
            <div class="card-body">
                <ul style="text-align:left">
                    <li>B.Sc. Computer Science</li>
                    <li>B.Sc. Mathematics</li>
                    <li>B.A. Corporate Economics</li>
                    <li>B.Com. CS</li>
                    <li>B.Com. General</li>
                </ul>
            </div>
        </div>

        <div class="card text-white bg-secondary mb-3" style="width: 22rem;">
            <div class="card-header">Shift - II</div>
            <div class="card-body">
                <ul style="text-align:left">
                    <li>B.B.A</li>
                    <li>B.C.A</li>
                    <li>B.Sc. MicroBiology</li>
                    <li>M.Sc. IT</li>
                    <li>M.Com. General</li>
                </ul>
            </div>
        </div>
        <div class="card text-white bg-danger mb-3" style="width: 22rem;">
            <div class="card-header">Research Program</div>
            <div class="card-body">
                <ul style="text-align:left">
                    <li>Ph.D Commerce</li>
                    <li>Ph.D English</li>
                    <li>Ph.D Urdu</li>
                    <li>Ph.D Economics</li>
                    <li>Ph.D Mathematics</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="d-flex mt-5" style="gap:14%">
        <div class="card border-primary mb-3" style="width: 18rem;">
            <div class="card-header">Scholarships</div>
            <div class="card-body text-primary">
                <p class="card-text">Students are eligible for a large number of scholarship, fee concessions and other aids. Arrangements exists to enable students to avail themselves of the following scholarship, fee concession and aids.Government scholarships are available to eligible students.  </p>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="width: 18rem;">
            <div class="card-header">Research</div>
            <div class="card-body text-secondary">
                <p class="card-text">Research is the foundation of knowledge that explores the opportunities, create new ideas, contributes to technologies, promotes research publications, develops collaborations and becomes part pf active community that shares the mission objectives.</p>
            </div>
        </div>
        <div class="card border-danger mb-3" style="width: 18rem;">
            <div class="card-header">Placements</div>
            <div class="card-body text-danger">
                <p class="card-text">Choosing the right career is a very challenging task. Careers can actually make or break one's life. So it is important to make the right choice. The Career Guidance Cell of our College does give continuous counseling to students and as to what they may do after graduation.</p>
            </div>
        </div>
    </div>

    <h6 class="text-danger">NOTE : Don't Share Your UserId and Password</h6>

</div>

<style>
    body{
        text-align:center;
    }

    
</style>





