
@{
    ViewBag.Title = "Index";
}

<h2 style="padding-top:30px" >Mazharul Uloom College</h2>

<h5>Managed By Ambur Muslim Educational Society</h5>

<h6>Affiliated to Thiruvalluvar University</h6>

<p>Ambur, Tirupattur District , TamilNadu , India </p>

<h2 style="padding:60px 0 190px 0">Students Database </h2>

<h6 class="text-danger">NOTE : Don't Share Your UserId and Password</h6>


<style>
    body{
        text-align:center;
    }
</style>





